.Rproj.user
.Rhistory
.RData
smietnik.R
devtoolsuzycia.R
analizy.R
pobranieodnowa.R
krajeizawodysprawdzenie.R
Praca w toku
smietnik.txt
smietnik.txt~
mat2006.csv
pisa_data
dotestuwykresu.rda
exploRe
zapisnawszelkiwypadek.RData
ciekawe.pdf
ciekawe.png
ciekawostka.png
przyklad.png
pisa.csv
